<html>
    <head>
        <title>Pagina Inicio</title>
    </head>
    <body>
        <h1>Hola esta es mi pagina!!!</h1>
        <!--p>{{contenido}}</p>
        <p>{{otro}}</p-->
        
        <!--
        {% for x in range(10) %}
            {% if x % 2 == 1 %}
                <p>El valor es: {{x}}</p>
            {% endif %}
        {% endfor %}
        -->

        <p>Nombres de alumnos</p>
        
        {% for x in contenido %}
            <p>{{x}}</p>
        {% endfor %}

    </body>
</html>